List all employees' names and their hire dates:

In [ ]:
SELECT first_name, last_name, hire_date
FROM employees ;

Find the highest salary in the database

In [ ]:
SELECT MAX(salary) 
FROM salaries;

List all employees who were hired in the year 2000:

Note that: to get the year in sqlite we use: strftime('%Y', date_column)

In [ ]:
SELECT *
FROM employees
WHERE YEAR(hire_date) = 2000;

Find the average salary for all employees:

In [ ]:
SELECT AVG(salary) 
FROM salaries;

List all departments and the number of employees in each

In [ ]:
SELECT d.dept_name, d.dept_no, COUNT(e.emp_no) AS EmployeeCount
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP BY d.dept_name, d.dept_no;

List all employees whose first name starts with 'A'

In [ ]:
SELECT * FROM employees
WHERE first_name LIKE 'A%';

Find the number of employees in the 'Sales' department

In [ ]:
SELECT COUNT(*) FROM dept_emp WHERE dept_no IN (SELECT dept_no FROM departments WHERE dept_name = 'Sales');

List all employees who were hired in the year 1995

In [ ]:
SELECT * FROM employees 
WHERE YEAR(hire_date) = 1995;

Find the average salary of all employees

In [ ]:
SELECT Avg(salary) FROM salaries;

List the top 5 highest-paid employees

In [ ]:
SELECT e.emp_no, e.first_name, e.last_name
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
ORDER BY s.salary DESC
LIMIT 5;

List all employees and their department names.

In [ ]:
SELECT first_name,last_name,dept_name 
FROM employees,departments

Find the number of employees in each department

In [ ]:
SELECT d.dept_name , d.dept_no, count(e.emp_no) 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP by d.dept_name

List all employees who have never had a salary increase

In [ ]:
SELECT * FROM salaries
GROUP BY emp_no
HAVING count(emp_no)=1;

Find the highest salary for each department.

In [ ]:
SELECT d.dept_name, max(s.salary) 
FROM salaries s
JOIN dept_emp de ON s.emp_no = de.emp_no
JOIN departments d ON de.dept_no = d.dept_no
GROUP BY d.dept_name;

List all employees who have had more than one manager

In [ ]:
SELECT * FROM dept_emp
GROUP BY emp_no
HAVING count(emp_no)>1;

List all employees who have been with the company for more than 15 years:

hint
DATEDIFF(CURDATE(), hire_date) = > JULIANDAY(date('now')) - JULIANDAY(hire_date)

In [ ]:
SELECT * FROM employees
WHERE julianday('now') - julianday(hire_date) >= 15;

Find the highest salary paid to an employee in the 'Sales' department:

In [ ]:
SELECT max(salary) FROM salaries

List all employees who have had more than 2 different titles:

In [ ]:
SELECT *,COUNT(DISTINCT title) 
FROM titles
GROUP BY emp_no
HAVING COUNT(DISTINCT title) >=2

Find the average salary for female employees in the 'Engineering' department:

In [ ]:
SELECT avg(salary)
FROM salaries s
JOIN employees e ON s.emp_no=e.emp_no
JOIN titles t ON e.emp_no=t.emp_no
WHERE gender ='F' AND title='Enginee

List all employees who have never had a salary increase

In [ ]:
SELECT * FROM salaries
GROUP BY emp_no
HAVING count(emp_no)=1;

Find the average salary for female employees in the 'Sales' department.

In [ ]:
SELECT avg(salary)
FROM salaries s
JOIN employees e ON s.emp_no=e.emp_no
JOIN dept_emp de ON e.emp_no=de.emp_no
JOIN departments d ON de.dept_no=d.dept_no
WHERE gender ='F' AND dept_name='Sales'

List all employees who have been with the company for more than 10 years

hint: JULIANDAY(date('now')) - JULIANDAY(hire_date)

In [ ]:
SELECT * FROM employees
WHERE julianday('now') - julianday(hire_date) >= 10;

Find the employee who has had the most job titles

In [ ]:
SELECT *,COUNT(DISTINCT title) AS title_count
FROM titles
GROUP BY emp_no
ORDER BY title_count DESC
LIMIT

List all employees who have worked in more than one department

In [ ]:
SELECT * FROM dept_emp
GROUP BY emp_no
HAVING count(emp_no) >1;

Find the department with the highest average salary

In [ ]:
SELECT * ,avg(s.salary) AS AVG_S FROM salaries s
LEFT JOIN employees e ON s.emp_no=e.emp_no
LEFT JOIN dept_emp de ON e.emp_no=de.emp_no
LEFT JOIN departments d ON de.dept_no=d.dept_no
GROUP BY d.dept_name
HAVING avg(s.salary)
ORDER BY AVG_S DESC

List all employees who have had a salary increase of more than 10%

In [ ]:
SELECT employee_id, name, previous_salary, current_salary,
       ((current_salary - previous_salary) / previous_salary) * 100 AS salary_increase_percentage
FROM employees
WHERE ((current_salary - previous_salary) / previous_salary) * 100 > 10;

Find the top 10 highest-paid employees in the company

In [ ]:
SELECT employee_id, name, salary
FROM employees
ORDER BY salary DESC
LIMIT 10;

List all employees who have had more than one manager:

In [ ]:
SELECT e.employee_id, e.name, COUNT(DISTINCT em.manager_id) AS manager_count
FROM employees e
JOIN employee_managers em ON e.employee_id = em.employee_id
GROUP BY e.employee_id, e.name
HAVING COUNT(DISTINCT em.manager_id) > 1;